/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION BAR */
header {
    background-color: #9BAD70;
    padding: 12px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.signup-btn {
    padding: 6px 14px;
    background-color: #E9C1C8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    background-image: url('book1.jpg');
    background-size: cover;
    background-position: center;
    height: 540px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 80px;
}

/* FORM CARD */
.form-container {
    background-color: white;
    padding: 35px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 8px;
    border: none;
    background-color: #E5EBC6;
    border-radius: 6px;
}

.form-btn {
    padding: 7px;
    background-color: #9BAD70;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}



